$layout-breakpoint-large: 1064px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-small: 520px;

$narrow-content-width: 900px;
$large-content-width: $layout-breakpoint-large;

$our-story-bg-color: #fbf8e9;
$stay-in-touch-bg-color: #f7efb4;
$footer-bg-color: #1f1f1f;

$primary-font: Montserrat;